<div class="search_box">
  <%= search_form_for @search, url: search_path, class: "search" do |f| %>
    <%= f.label :name_or_addressor_access_cont, "Keyword" %>
    <%= f.search_field :name_or_address_or_access_cont , placeholder: "店名/住所/駅名 等"%>
    <%= f.submit "検索" %>
  <% end %>
</div>