/* ↓ここから下は、ブラウザがデフォルトで持っているCSSを打ち消すCSS↓ */
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}
/* ↑ブラウザがデフォルトで持っているCSSを打ち消すCSSここまで↑ */

/* ↓外枠↓ */
.container {
  margin: 10px;
  border: 1px solid #ccc;
}
/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
.tab:first-child {
  border-left: none;
}
/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #fff;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}
/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}

.jirolian-icon {
  border-radius: 100px;
}
