<% if jiro.checked_wanna_eat_by?(current_jirolian) %>
  <%= link_to jiro_wanna_eat_statuses_path(jiro), method: :delete do %>
    <span class="btn btn-primary">
    <%= "食べたい#{jiro.wanna_eat_statuses.count}" %></span>
  <% end %>
<% else %>
  <%= link_to jiro_wanna_eat_statuses_path(jiro), method: :post do %>
    <span class="btn btn-secondary">
    <%= "食べたい#{jiro.wanna_eat_statuses.count}" %></span>
  <% end %>
<% end %>
