<% if post.favorited_by?(jirolian) %>
  <%= link_to post_favorite_posts_path(post), method: :delete do %>
    <span class="fa fa-heart like-btn-unlike"　aria-hidden="true" style="color: #ff2581;">
    <%= post.favorite_posts.count %></span>
  <% end %>
<% else %>
  <%= link_to post_favorite_posts_path(post), method: :post do %>
    <span class="fa fa-heart like-btn" aria-hidden="true" style="color: #8899a6;">
    <%= post.favorite_posts.count %></span>
  <% end %>
<% end %>