<% if post.favorited_by?(current_jirolian) %>
  <%= link_to post_favorite_posts_path(post), method: :delete, remote: true do %>
    <span class="fas fa-heart" style="color: #ff2581;"></span>
  <% end %>
  <%= post.favorite_posts.count %>
<% else %>
  <%= link_to post_favorite_posts_path(post), method: :post, remote: true do %>
    <span class="far fa-heart" style="color: #8899a6;"></span>
  <% end %>
  <%= post.favorite_posts.count %>
<% end %>