
  <% @posts.each do |post| %>
    <p><%= Jirolian.find(post.jirolian_id).username %></p> 
    <p><%= Jiro.find(post.jiro_id).name %></p> 
    <p><%= post.content %></p>
    <p><%= post.called %></p>
    <br>
  <% end %>

