  <h2><%= @jirolian.username %></h2>
    <table class="table">
      <tr><th>ホーム：</th>
        <td><%= @jirolian.home_jiro %></td></tr>
      <tr><th>自己紹介：</th>
        <td><%= @jirolian.introduction %></td></tr>
      <tr><th>HP/SNS：</th>
        <td><%= @jirolian.hp_url %></td></tr>
    </table>